@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/inter/inter-regular.woff2") format("woff2"),
    url("/fonts/inter/inter-regular.woff") format("woff")
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/inter/inter-bold.woff2") format("woff2"),
    url("/fonts/inter/inter-bold.woff") format("woff")
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/inter/inter-italic.woff2") format("woff2"),
    url("/fonts/inter/inter-italic.woff") format("woff")
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/inter/inter-bold-italic.woff2") format("woff2"),
    url("/fonts/inter/inter-bold-italic.woff") format("woff")
}

@font-face {
  font-display: swap;
  font-family: Zilla Slab;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/zilla-slab/zilla-slab-regular.woff2") format("woff2"),
    url("/fonts/zilla-slab/zilla-slab-regular.woff") format("woff")
}

@font-face {
  font-display: swap;
  font-family: Zilla Slab;
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/zilla-slab/zilla-slab-bold.woff2") format("woff2"),
    url("/fonts/zilla-slab/zilla-slab-bold.woff") format("woff")
}

@font-face {
  font-display: swap;
  font-family: Metropolis;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/metropolis/metropolis-medium.woff2") format("woff2"),
    url("/fonts/metropolis/metropolis-medium.woff") format("woff")
}

@font-face {
  font-display: swap;
  font-family: Metropolis;
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/metropolis/metropolis-bold.woff2") format("woff2"),
    url("/fonts/metropolis/metropolis-bold.woff") format("woff")
}
