#mozilla-products-heading {
  line-height: 1.05;
  padding: 80px 24px 10px 24px;
  color: black;
  font-family: Zilla Slab, Inter, sans-serif;
  font-size: 2.375rem;
  font-weight: 700;
  text-align: center;
}

@media(min-width:768px) {
  #mozilla-products-heading {
    font-size: 3rem;
    padding: 80px 96px;
    line-height: 1;
  }
}
