#section-firefox *.section-text-container a {
  border-color: transparent;
  background-color: #0060df;
  color: white;
}

#section-firefox *.section-text-container a:hover {
  border-color: transparent;
  background-color: #0250bb;
  color: white;
}

#section-firefox *.section-text-container a:active {
  border-color: transparent;
  background-color: #073072;
  color: white;
}

#section-firefox *.section-logo-wrapper div {
  background-image: url("/images/section-firefox-logo.svg");
}
